<section class="block container">
  <header class="block_header">
    <h2>Host on the cloud</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat,
      tenetur!
    </p>
  </header>

  <article class="grid grid2cols feature">
    <div>
      <span class="icon-container">
        <svg class="icon icon-primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature_heading">Super easy to use</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem alias
        doloremque, amet aspernatur rem magnam tempora eos consequuntur iusto
        ab!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="" />
      <img class="feature_image" src="images/easy.jpg" alt="Easy to use" />
    </picture>
  </article>
  <article class="grid grid2cols feature">
    <picture>
      <source type="" />
      <img class="feature_image" src="images/easy.jpg" alt="Easy to use" />
    </picture>
    <div>
      <span class="icon-container">
        <svg class="icon icon-primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature_heading">Super easy to use</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem alias
        doloremque, amet aspernatur rem magnam tempora eos consequuntur iusto
        ab!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
  </article>

  <article class="grid grid2cols feature">
    <div>
      <span class="icon-container">
        <svg class="icon icon-primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature_heading">Super easy to use</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem alias
        doloremque, amet aspernatur rem magnam tempora eos consequuntur iusto
        ab!
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="" />
      <img class="feature_image" src="images/easy.jpg" alt="Easy to use" />
    </picture>
  </article>
</section>
