<blockquote class="quote">
  <p class="quote_text">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus nisi
    dolorem itaque? Et rem officia pariatur facere atque officiis, consequuntur
    repudiandae earum distinctio qui enim amet alias commodi voluptatibus
    ducimus!
  </p>
  <footer>
    <div class="media">
      <div class="media_image">
        <svg class="icon icon-primary quote_line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media_body">
        <h3 class="media_title quote_author">Pham Hong Dang</h3>
        <div class="media_description">
          <p class="quote_organization">HCMIU</p>
        </div>
      </div>
    </div>
  </footer>
</blockquote>
